<header class="sticky top-0 z-30 w-full p-2 bg-white shadow-xl flex justify-center">
    <div class="flex justify-between w-11/12">
        <div>
            <a href="/">
                <h1>Node.js notes</h1>
            </a>

        </div>

        <div>
            <ul class="flex">
                <l1 class="mr-3">
                    <a href="/notes">Notes</a>
                </l1>

                <l1>
                    <a class="" href="/admin">Admin</a>
                </l1>
            </ul>
        </div>

    </div>
</header>