<header class="sticky top-0 z-30 w-full p-3 bg-white shadow-xl flex justify-center">
    <div class="flex justify-between w-11/12 items-center">
        <div>
            <a class="text-xl font-bold" href="/">
                <h1>Node.js notes</h1>
            </a>

        </div>

        <div>
            <ul class="flex">
                <l1 class="mr-5">
                    <a class="text-xl font-bold" href="/notes">Notes</a>
                </l1>

                <l1>
                    <a class="text-xl font-bold" href="/admin">Admin</a>
                </l1>
            </ul>
        </div>

    </div>
</header>